.motion-list {
	overflow: auto;
	display: flex;
}

.motion-element {
	flex-shrink: 0;
	width: 300px;
	height: 300px;
	border: 1px solid rgb(63, 63, 63);
	position: relative;
}

.swap-next {
	position: absolute;
	bottom: 10px;
	left: 10%;
	z-index: 10;
	background-color: aquamarine;
	border-radius: 5px;
	padding: 2px 4px;
}

.go-first {
	position: absolute;
	bottom: 10px;
	left: 60%;
	z-index: 10;
	background-color: aquamarine;
	border-radius: 5px;
	padding: 2px 4px;
}
